<div class = 'container'>
  <div class="row">
    <div class="col-md-4">
        <div class="card card-block">
          <% if user_signed_in? %>
            <h4 class="card-title">Your Account</h4>
            <p class="card-text"><%=link_to current_user.username, user_path(current_user.username) %></p>
          <% end %>
        </div>
    </div>
    <div class = "col-md-8">
      <% if user_signed_in? %>
        <center><%= link_to "New Observation »", new_observation_path, class: "btn btn-primary btn-lg" %></center>
      <% end %>
          <% @observations.reverse_each do |observation| %>
            <%= link_to observation, class: "card" do %>
              <div class='card-block'>
                <h6 class="card-title"><%= observation.user.username %> // posted on: <%= observation.created_at.strftime("%m/%d/%Y") %></h6>
                <% if observation.image.present? %>
                  <center><%= image_tag observation.image, class: 'img-fluid' %></center>
                <% end %>
                <p class="card-text">observed on: <%= observation.date %></p>
                <p class='card-text'>species: <%= observation.species %></p>
                <p class='card-text'><%= observation.notes %></p>
              </div>
            <% end %>
          <% end %>
      </div>
    </div>
  </div>
</div>