<div class = 'container'>

  <div class="row">
    <div class="col-md-4">
        <div class="card card-block">
          <% if user_signed_in? %>
            <h4 class="card-title">Your Account</h4>
            <p class="card-text"><%=link_to current_user.username, user_path(current_user.username) %></p>
          <% end %>
        </div>
    </div>
    <div class = "col-md-8">
      <% if user_signed_in? %>
        <%= link_to 'New Tweet', new_tweet_path %>
      <% end %>
          <% @tweets.each do |tweet| %>
            <%= link_to tweet, class: "card" do%>
              <div class='card-block'>
                <h6 class="card-title"><%= tweet.user.email %></h6>
                <% if tweet.image.present? %>
                  <center><%= image_tag tweet.image, class: 'img-fluid' %></center>
                <% end %>
                <p class="card-text"><%= tweet.content %></p>
              </div>
            <% end %>
          <% end %>
      </div>
    </div>
  </div>
</div>