<div class='container'>
	<h1>Your Account</h1>
	<p>Name: <%= @user.name %></p>
	<p>Username: <%= @user.username %></p>

  <div class="row">
    <div class="col-md-4">
        <div class="card card-block">
          <h4 class="card-title"><%= @user.name %>'s Tweets</h4>
        </div>
    </div>
    <div class = "col-md-8">
          <% @tweets.each do |tweet| %>
            <%= link_to tweet, class: "card" do%>
              <div class='card-block'>
                <h6 class="card-title"><%= tweet.user.email %></h6>
                <p class="card-text"><%= tweet.content %></p>
              </div>
            <% end %>
          <% end %>
      </div>
    </div>
  </div>
</div>
</div>
