<% if user_signed_in? %>
    <div class="jumbotron jumbotron-home">
        <div class="container">
            <h1>Let's get started!</h1>
            <%= link_to "Book a trip »", contact_path, class: "btn btn-primary btn-lg" %>
        </div>
    </div>
<% else %>
    <div class="jumbotron jumbotron-home">
        <div class="container">
            <h1>Backcountry photo expeditions</h1>
            <%= link_to "Get in touch »", contact_path, class: "btn btn-primary btn-lg" %> 
        </div>
    </div>
    <div class="container">
        <div class="col">
            <div class="row-md-12">
                <h2>Learn photography</h2>
                <p>Already love the outdoors, but never used a camera? No problem. We'll have you out there shooting like a pro in no time. Click below to find out more.</p>
                <p><%= link_to "Learn more", contact_path, class: "btn btn-primary" %></p>
            </div>
            <div class="row-md-12">
                <h2>Guided photo trips</h2>
                <p>We live for epic backcountry expeditions and offer custom single or multi-day trips into the real bush-bush. At the end, you'll have the memories (and photos) of a lifetime.</p>
                <p><%= link_to "Learn more", contact_path, class: "btn btn-primary" %></p>
            </div>
            <div class="row-md-12">
                <h2>Document your adventures</h2>
                <p>Have an upcoming hunt or fishing trip?  Let us document it for you.  You focus on execution and we'll make sure you never forget the experience.</p>
                <p><%= link_to "Learn more", contact_path, class: "btn btn-primary" %></p>
            </div>
        </div>
    </div>
<% end %>