<%= form_for(item) do |f| %>
  <% if item.errors.any? %>
    <div id="error_explanation">
      <h2>>>ERROR<<</h2>

      <ul>
      <% item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="form-group">
    <%= f.label :url %>
    <%= f.text_field :url %>
  </div>

  <p><strong>or</strong></p>

  <div class="form-group">
    <%= f.label :text %>
    <%= f.text_field :text %>
  </div>

  <%= f.submit class: 'btn btn-primary' %>
<% end %>
